@model IEnumerable<UELWeb2Hasako.Models.DANHMUCHAISANKHO>

<div class="sidebar_title">Danh mục sản phẩm</div>
<ul class="sidebar_categories">
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("SPTheodanhmuc","Hasako",new { id = item.MaDM })">@item.TenDM</a></li>
    }
</ul>
